{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <main class="panel reveal" style="max-width: 620px; margin-inline: auto;">
        <span class="kicker">Credentials</span>
        <h1>Change Password: {{ userEntity.username }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <div class="actions">
                <button type="submit">Update Password</button>
                <a class="btn btn-ghost" href="{{ path('admin_users_index') }}">Back</a>
            </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
