{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block title %}{{ 'admin.users.password_title'|trans }}{% endblock %}

{% block body %}
    <main class="panel reveal" style="max-width: 620px; margin-inline: auto;">
        <span class="kicker">{{ 'admin.users.credentials_kicker'|trans }}</span>
        <h1>{{ 'admin.users.password_heading'|trans({'%username%': userEntity.username}) }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <div class="actions">
                <button type="submit">{{ 'admin.users.update_password'|trans }}</button>
                <a class="btn btn-ghost" href="{{ path('admin_users_index') }}">{{ 'common.back'|trans }}</a>
            </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
