{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block title %}{{ 'admin.spending_plans.new_title'|trans }}{% endblock %}

{% block body %}
    <main class="panel reveal" style="max-width: 760px; margin-inline: auto;">
        <span class="kicker">{{ 'admin.spending_plans.kicker'|trans }}</span>
        <h1>{{ 'admin.spending_plans.new_heading'|trans }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.planType) }}
            {{ form_row(form.dateFrom) }}
            {{ form_row(form.dateTo) }}
            {{ form_row(form.limitAmount) }}
            {{ form_row(form.currency) }}
            {{ form_row(form.weight) }}
            {{ form_row(form.isSystem) }}
            {{ form_row(form.note) }}
            <div class="actions">
                <button type="submit">{{ 'common.create'|trans }}</button>
                <a class="btn btn-ghost" href="{{ path('admin_spending_plans_index') }}">{{ 'common.back'|trans }}</a>
            </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
