{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block title %}{{ 'income.edit_title'|trans }}{% endblock %}

{% block body %}
    <main class="panel reveal" style="max-width: 760px;">
        <span class="kicker">{{ 'dashboard.income'|trans }}</span>
        <h1>{{ 'income.edit_heading'|trans({'%id%': income.id}) }}</h1>

        {{ form_start(form) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.currency) }}
            {{ form_row(form.comment) }}
            {{ form_row(form.convertToGel) }}
            <div class="actions">
                <button type="submit">{{ 'common.save'|trans }}</button>
                <a class="btn btn-ghost" href="{{ path('app_dashboard_incomes', {month: income.createdAt|date('Y-m')}) }}">
                    {{ 'common.back'|trans }}
                </a>
            </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
